<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <small><%= link_to pluralize(@total_friends, 'friend'), friends_user_path(@user) %></small>
  <% if current_user == @user %>
    <br><small>
      <%= link_to "Pending requests", received_friendships_user_path(@user) %>
      from other users
    </small>
    <br><small>
      <%= link_to "Awaiting response", sent_friendships_user_path(@user) %>
      from other users
    </small>
  <% else %>
    <%= render partial: 'friendships/friendship_form', locals: { user: @user } %>
  <% end %>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
